@use './variables' as *;


* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
}

body{
    font-size: 200%;
    background-color: $nightBlack;
    display: flex;
    flex-direction: column;
    min-width: 330px;
}

.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.white{
    font-size: 3rem;
    color: white;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
    outline: 2px solid red; /* Change the outline color and style */
}

/* Customize keyboard tab focus style */
*:focus {
    outline: 2px solid blue; /* Change the outline color and style */
}