@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600;700&family=Teko:wght@300&display=swap');


h1 {
    font-family: 'Bebas Neue', sans-serif;
}

h2, h3 {
    font-family: sans-serif;
}

h1{
    font-size: 1.5rem;
    color: $antiWhite;
}

h2 {
    font-size: 1rem;
}

h3{
    font-size: 0.8rem;
}

a{
    font-size: 0.8rem;
}


// Active Album Styles

.activeAlbumArtist, .activeAlbumName, .activeAlbumRelease, .activeAlbumRelease, .albumRating .albumTracklist {
    font-family: 'Inter', sans-serif;
    color: $antiWhite
}

.activeAlbumName{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.activeAlbumArtist{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.activeAlbumRelease, .albumRating, .albumTracklist {
    font-size: 0.8rem;
}
