@use './variables' as *;

h1, h2 , h3 {
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 1.5rem;
    color: $antiWhite;
}

h2 {
    font-size: 1rem;
}

h3{
    font-size: 0.8rem;
}

a{
    font-size: 0.8rem;
}


// Active Album Styles

.activeAlbumArtist, .activeAlbumName, .activeAlbumRelease, .activeAlbumRelease, .albumRating .albumTracklist {
    font-family: 'Courier New', Courier, monospace;
    color: $antiWhite
}

.activeAlbumName{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.activeAlbumArtist{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.activeAlbumRelease, .albumRating, .albumTracklist {
    font-size: 0.8rem;
}
