$limeGreen: #CBFF4D;
$burntOrange: #C84630;
$white: #ECF0F1;
$grey: #86836D;
$black: #070707;

$royalPurple: #7E52A0;
$antiWhite: #EBEBEB;
$darkGrey: #363330;
$nightBlack: #151313;
$lightGrey: #403A3A;

$spotifyGreen: #5DD57F;